

body {
  background-color: transparent;
  font-family: Arial;
  font-size: 20px;
  color: black;
}

.wrapper{
  width:80%;
  margin:auto;
  background-color: #71A924;
}

.intro {

}

h1 {
  font-family: Papyrus Regular;
  font-size: 60px;
  text-align: center;
  color: black;
  background-color: #CFF2B6;
}

.design-selection {


}

ul.main {
  width: 100%;
	font-size: 26px;
  background-color: red;
  list-style-type: none;
}



ul ul { display: none; position: absolute; top: 30px; left: 0; padding: 0; color: #71A924; }
ul li { float:left;  position: relative; width: 24%; height:30px; line-height: 30px; text-align: center;  }
ul li:hover ul { display: block; color: #71A924; }
ul li ul li { display: block; width: 100%; font-size: 16px; background-color:#71A924;}

li a {text-decoration: none;  color: white;}

ul.main :hover {
  background-color: #CFF2B6;

}

h2 {
clear: both;
margin-top: 200px;
font-family: Lucida Handwriting;
  font-size: 50px;
  text-align: center;
  color: #CFF2B6;
}

/*h2 {
  font-family: "Zenzai itacha";
  font-size: 30px;
  width:1em;
  word-break:break-word;
  float:left;
  letter-spacing:1em;
  white-space:pre-wrap
}*/

.main_body {
  margin-top: 100px;
  background-color: white;
}

h3 {
  font-family: Lucida Handwriting;
  font-size: 40px;
  text-align: center;
}

.preamble {
  background-color: #CFF2B6;
  width:40%;
  padding: 10px 0 20px 0;
  margin-left: 10%;
  text-align: justify;
}



.explanation {
  width:40%;
  padding: 10px 0 20px 0;
  background-color: #71A924;
  margin-top:-40px;
  margin-left: 45%;
  text-align: justify;
}

.participation {
  width:40%;
  padding: 10px 0 20px 0;
  margin-left: 9%;
  margin-top:-30px;
  background-color: #dbdb57;
  text-align: justify;
}

.benefits {
  width: 40%;
  margin-left: 20%;
  text-align: justify;
}

.requirements {
  background-color: #BFB6AE;
  width:40%;
  padding: 10px 0 20px 0;
  margin-left: 40%;
  text-align: justify;
}

.preamble_p, .explanation_p, .participation_p, .requirements_p {
  width: 80%;
  margin: auto;

}
